# maven ignore
logs
.mvn
mvnw
mvnw.cmd
target/
output/
# *.jar
*.war
*.zip
*.tar
*.tar.gz
tree.txt
HELP.md
# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

bcd-gen

