<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baidu.mapp.bcd.dao.AssignMapper">
  <resultMap id="BaseResultMap" type="com.baidu.mapp.bcd.domain.Assign">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="activity_plan_id" jdbcType="BIGINT" property="activityPlanId" />
    <result column="donatory_id" jdbcType="BIGINT" property="donatoryId" />
    <result column="donatory_level" jdbcType="TINYINT" property="donatoryLevel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, activity_plan_id, donatory_id, donatory_level, create_time, last_modify_time
  </sql>
  <select id="selectByExample" parameterType="com.baidu.mapp.bcd.domain.AssignExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <if test="columns!=null and columns.size() &gt; 0">
      <foreach collection="columns" item="listItem" separator=",">
        ${listItem}
      </foreach>
    </if>
    <if test="columns==null or columns.size() &lt;= 0">
      <include refid="Base_Column_List" />
    </if>
    from t_assign
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null and limit > 0">
       limit 
      <if test="start != null and start > 0">
         #{start},
      </if>
       #{limit} 
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_assign
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_assign
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.baidu.mapp.bcd.domain.AssignExample">
    delete from t_assign
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.baidu.mapp.bcd.domain.Assign">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_assign (activity_plan_id, donatory_id, donatory_level, 
      create_time, last_modify_time)
    values (#{activityPlanId,jdbcType=BIGINT}, #{donatoryId,jdbcType=BIGINT}, #{donatoryLevel,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastModifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.baidu.mapp.bcd.domain.Assign">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_assign
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="activityPlanId != null">
        activity_plan_id,
      </if>
      <if test="donatoryId != null">
        donatory_id,
      </if>
      <if test="donatoryLevel != null">
        donatory_level,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastModifyTime != null">
        last_modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="activityPlanId != null">
        #{activityPlanId,jdbcType=BIGINT},
      </if>
      <if test="donatoryId != null">
        #{donatoryId,jdbcType=BIGINT},
      </if>
      <if test="donatoryLevel != null">
        #{donatoryLevel,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.baidu.mapp.bcd.domain.AssignExample" resultType="java.lang.Long">
    select count(*) from t_assign
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_assign
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.activityPlanId != null">
        activity_plan_id = #{record.activityPlanId,jdbcType=BIGINT},
      </if>
      <if test="record.donatoryId != null">
        donatory_id = #{record.donatoryId,jdbcType=BIGINT},
      </if>
      <if test="record.donatoryLevel != null">
        donatory_level = #{record.donatoryLevel,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastModifyTime != null">
        last_modify_time = #{record.lastModifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_assign
    set id = #{record.id,jdbcType=BIGINT},
      activity_plan_id = #{record.activityPlanId,jdbcType=BIGINT},
      donatory_id = #{record.donatoryId,jdbcType=BIGINT},
      donatory_level = #{record.donatoryLevel,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      last_modify_time = #{record.lastModifyTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.baidu.mapp.bcd.domain.Assign">
    update t_assign
    <set>
      <if test="activityPlanId != null">
        activity_plan_id = #{activityPlanId,jdbcType=BIGINT},
      </if>
      <if test="donatoryId != null">
        donatory_id = #{donatoryId,jdbcType=BIGINT},
      </if>
      <if test="donatoryLevel != null">
        donatory_level = #{donatoryLevel,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null">
        last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baidu.mapp.bcd.domain.Assign">
    update t_assign
    set activity_plan_id = #{activityPlanId,jdbcType=BIGINT},
      donatory_id = #{donatoryId,jdbcType=BIGINT},
      donatory_level = #{donatoryLevel,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>